@{
    Layout="~/Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Registration Successful</title>
    </head>
    <body>
        <br><br><h1>Registration Successful!</h1>
        <p>You have successfully registered for the JMA Client Server.</p>
        <p>Your JMA coach will add extranet accessibility for you.</p>
    </body>
</html>