@{
    Layout="~/Layout.cshtml";
}

<br><br><h1>Site Administration</h1>

<li><a id="adminList" href="~/Account/UserSelect.cshtml">View and update the module selections for each client</a></li>
<li><a id="adminList" href="~/Account/Modules.cshtml">View, update or add modules</a></li>
<li><a id="adminList" href="~/Account/CareerRoadMaps.cshtml">View, update or add Career RoadMaps</a></li>