@{
    Layout="~/Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Success!</title>
    </head>
    <body>
        <br><br><h1>Success!</h1>
        <p>The database has been updated</p>
    </body>
</html>