body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 46px 0px 39px 0px;padding: 0px;border: none;width: 816px;height: 971px;}
#page_1 #dimg1 {position:absolute;top:332px;left:49px;z-index:-1;width:717px;height:639px;}
#page_1 #dimg1 #img1 {width:717px;height:639px;}
#page_2 {position:relative; overflow: hidden;margin: 49px 0px 39px 48px;padding: 0px;border: none;width: 768px;height: 968px;}
#page_2 #dimg1 {position:absolute;top:24px;left:1px;z-index:-1;width:718px;height:944px;}
#page_2 #dimg1 #img1 {width:718px;height:944px;}
#page_3 {position:relative; overflow: hidden;margin: 49px 0px 39px 47px;padding: 0px;border: none;width: 769px;height: 968px;}
#page_3 #dimg1 {position:absolute;top:24px;left:0px;z-index:-1;width:721px;height:944px;}
#page_3 #dimg1 #img1 {width:721px;height:944px;}
#page_4 {position:relative; overflow: hidden;margin: 44px 0px 39px 48px;padding: 0px;border: none;width: 768px;height: 973px;}
#page_4 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 720px;overflow: hidden;}
#page_4 #id_2 {border:none;margin: 24px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_4 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 352px;overflow: hidden;}
#page_4 #id_2 #id_2_2 {float:left;border:none;margin: 25px 0px 0px 162px;padding: 0px;border:none;width: 254px;overflow: hidden;}
#page_4 #id_3 {border:none;margin: 100px 0px 0px 46px;padding: 0px;border:none;width: 674px;overflow: hidden;}
#page_4 #dimg1 {position:absolute;top:29px;left:0px;z-index:-1;width:720px;height:944px;}
#page_4 #dimg1 #img1 {width:720px;height:944px;}
#page_5 {position:relative; overflow: hidden;margin: 49px 0px 39px 47px;padding: 0px;border: none;width: 769px;height: 968px;}
#page_5 #id_1 {border:none;margin: 0px 0px 0px 1px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_5 #id_2 {border:none;margin: 374px 0px 0px 47px;padding: 0px;border:none;width: 674px;overflow: hidden;}
#page_5 #dimg1 {position:absolute;top:24px;left:0px;z-index:-1;width:721px;height:944px;}
#page_5 #dimg1 #img1 {width:721px;height:944px;}
#page_6 {position:relative; overflow: hidden;margin: 49px 0px 39px 47px;padding: 0px;border: none;width: 769px;height: 968px;}
#page_6 #id_1 {border:none;margin: 0px 0px 0px 1px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_6 #id_2 {border:none;margin: 75px 0px 0px 47px;padding: 0px;border:none;width: 674px;overflow: hidden;}
#page_6 #dimg1 {position:absolute;top:24px;left:0px;z-index:-1;width:720px;height:944px;}
#page_6 #dimg1 #img1 {width:720px;height:944px;}
#page_7 {position:relative; overflow: hidden;margin: 49px 0px 39px 48px;padding: 0px;border: none;width: 768px;height: 968px;}
#page_7 #dimg1 {position:absolute;top:24px;left:0px;z-index:-1;width:719px;height:944px;}
#page_7 #dimg1 #img1 {width:719px;height:944px;}
#page_8 {position:relative; overflow: hidden;margin: 49px 0px 39px 47px;padding: 0px;border: none;width: 722px;height: 968px;}
#page_8 #id_1 {border:none;margin: 0px 0px 0px 2px;padding: 0px;border:none;width: 717px;overflow: hidden;}
#page_8 #id_2 {border:none;margin: 355px 0px 0px 1px;padding: 0px;border:none;width: 711px;overflow: hidden;}
#page_8 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 373px;overflow: hidden;}
#page_8 #id_2 #id_2_2 {float:left;border:none;margin: 5px 0px 0px 0px;padding: 0px;border:none;width: 338px;overflow: hidden;}
#page_8 #id_3 {border:none;margin: 2px 0px 0px 1px;padding: 0px;border:none;width: 693px;overflow: hidden;}
#page_8 #id_3 #id_3_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 351px;overflow: hidden;}
#page_8 #id_3 #id_3_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 342px;overflow: hidden;}
#page_8 #id_4 {border:none;margin: 28px 0px 0px 47px;padding: 0px;border:none;width: 674px;overflow: hidden;}
#page_8 #dimg1 {position:absolute;top:24px;left:0px;z-index:-1;width:722px;height:944px;}
#page_8 #dimg1 #img1 {width:722px;height:944px;}
#page_9 {position:relative; overflow: hidden;margin: 49px 0px 39px 48px;padding: 0px;border: none;width: 768px;height: 968px;}
#page_9 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_9 #id_2 {border:none;margin: 83px 0px 0px 46px;padding: 0px;border:none;width: 674px;overflow: hidden;}
#page_9 #dimg1 {position:absolute;top:24px;left:1px;z-index:-1;width:718px;height:944px;}
#page_9 #dimg1 #img1 {width:718px;height:944px;}
#page_10 {position:relative; overflow: hidden;margin: 49px 0px 39px 48px;padding: 0px;border: none;width: 768px;height: 968px;}
#page_10 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_10 #id_2 {border:none;margin: 361px 0px 0px 46px;padding: 0px;border:none;width: 674px;overflow: hidden;}
#page_10 #dimg1 {position:absolute;top:24px;left:1px;z-index:-1;width:718px;height:944px;}
#page_10 #dimg1 #img1 {width:718px;height:944px;}

.ft0{font: 16px 'Futura-Book';color: #3b3b3b;line-height: 18px;}
.ft1{font: 16px 'Futura-Book';color: #cecece;line-height: 18px;}
.ft2{font: 32px 'Futura-Book';color: #3b3b3b;line-height: 36px;}
.ft3{font: 19px 'Futura-Book';color: #3b3b3b;line-height: 22px;}
.ft4{font: 9px 'Futura-Book';color: #3b3b3b;line-height: 12px;}
.ft5{font: 12px 'Futura-Book';color: #3b3b3b;line-height: 15px;}
.ft6{font: 19px 'Futura-Book';color: #1b9e1f;line-height: 22px;}
.ft7{font: 15px 'Georgia';color: #3b3b3b;line-height: 23px;}
.ft8{font: 19px 'Georgia';color: #3b3b3b;line-height: 23px;}
.ft9{font: 18px 'Georgia';color: #3b3b3b;line-height: 21px;}
.ft10{font: 19px 'Futura-Book';color: #ffffff;line-height: 22px;}
.ft11{font: 15px 'Georgia';color: #3b3b3b;line-height: 22px;}
.ft12{font: 15px 'Georgia';color: #3b3b3b;line-height: 18px;}
.ft13{font: 14px 'Georgia';color: #3b3b3b;line-height: 17px;}
.ft14{font: 1px 'Georgia';line-height: 1px;}
.ft15{font: 15px 'Georgia';color: #3b3b3b;line-height: 21px;}
.ft16{font: 15px 'Georgia';color: #3b3b3b;line-height: 24px;}
.ft17{font: bold 15px 'Georgia';color: #3b3b3b;line-height: 18px;}
.ft18{font: 15px 'Georgia';color: #3b3b3b;margin-left: 26px;line-height: 23px;}
.ft19{font: 15px 'Georgia';color: #3b3b3b;margin-left: 26px;line-height: 18px;}
.ft20{font: 14px 'Georgia';color: #3b3b3b;line-height: 22px;}
.ft21{font: 14px 'Georgia';color: #3b3b3b;line-height: 23px;}
.ft22{font: 17px 'Georgia';color: #f5f5f5;line-height: 25px;}
.ft23{font: 19px 'Georgia';color: #f5f5f5;line-height: 23px;}
.ft24{font: 15px 'Georgia';color: #3b3b3b;line-height: 26px;}
.ft25{font: 15px 'Georgia';color: #3b3b3b;margin-left: 26px;line-height: 26px;}
.ft26{font: 14px 'Georgia';color: #3b3b3b;margin-left: 26px;line-height: 25px;}
.ft27{font: 14px 'Georgia';color: #3b3b3b;line-height: 25px;}
.ft28{font: bold 15px 'Georgia';color: #d6000e;line-height: 18px;}

.p0{text-align: right;padding-right: 47px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 227px;margin-top: 385px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 361px;margin-top: 5px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 55px;margin-top: 454px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: left;padding-left: 32px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;margin-top: 19px;margin-bottom: 0px;}
.p9{text-align: justify;padding-right: 49px;margin-top: 31px;margin-bottom: 0px;}
.p10{text-align: left;margin-top: 21px;margin-bottom: 0px;}
.p11{text-align: left;padding-right: 69px;margin-top: 29px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 329px;margin-top: 97px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 340px;margin-top: 112px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 333px;margin-top: 0px;margin-bottom: 0px;}
.p15{text-align: left;padding-right: 69px;margin-top: 139px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 14px;margin-top: 32px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 1px;padding-right: 55px;margin-top: 25px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 209px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: left;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p20b{text-align: center;margin-top: 0px;margin-bottom: 0px;}
.p21{text-align: left;padding-left: 13px;margin-top: 32px;margin-bottom: 0px;}
.p22{text-align: justify;padding-right: 60px;margin-top: 13px;margin-bottom: 0px;}
.p23{text-align: left;padding-right: 49px;margin-top: 25px;margin-bottom: 0px;}
.p24{text-align: left;margin-top: 29px;margin-bottom: 0px;}
.p25{text-align: justify;padding-right: 343px;margin-top: 15px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 347px;margin-top: 25px;margin-bottom: 0px;}
.p27{text-align: left;margin-top: 26px;margin-bottom: 0px;}
.p28{text-align: justify;padding-left: 32px;padding-right: 336px;margin-top: 7px;margin-bottom: 0px;text-indent: -32px;}
.p29{text-align: justify;padding-left: 32px;padding-right: 336px;margin-top: 3px;margin-bottom: 0px;text-indent: -32px;}
.p30{text-align: justify;margin-top: 4px;margin-bottom: 0px;}
.p31{text-align: justify;padding-left: 32px;padding-right: 336px;margin-top: 6px;margin-bottom: 0px;text-indent: -32px;}
.p32{text-align: left;margin-top: 28px;margin-bottom: 0px;}
.p33{text-align: left;padding-left: 301px;margin-top: 31px;margin-bottom: 0px;}
.p34{text-align: left;padding-left: 286px;padding-right: 50px;margin-top: 13px;margin-bottom: 0px;}
.p35{text-align: left;padding-left: 286px;margin-top: 2px;margin-bottom: 0px;}
.p36{text-align: left;padding-left: 286px;margin-top: 27px;margin-bottom: 0px;}
.p37{text-align: left;padding-left: 300px;margin-top: 157px;margin-bottom: 0px;}
.p38{text-align: left;padding-left: 286px;padding-right: 57px;margin-top: 14px;margin-bottom: 0px;}
.p39{text-align: left;padding-left: 286px;padding-right: 81px;margin-top: 130px;margin-bottom: 0px;}
.p40{text-align: left;padding-left: 286px;margin-top: 5px;margin-bottom: 0px;}
.p41{text-align: left;padding-right: 4px;margin-top: 3px;margin-bottom: 0px;}
.p42{text-align: left;padding-right: 37px;margin-top: 4px;margin-bottom: 0px;}
.p43{text-align: left;padding-right: 11px;margin-top: 25px;margin-bottom: 0px;}
.p44{text-align: left;padding-right: 25px;margin-top: 0px;margin-bottom: 0px;}
.p45{text-align: left;padding-right: 36px;margin-top: 3px;margin-bottom: 0px;}
.p46{text-align: left;padding-left: 49px;margin-top: 0px;margin-bottom: 0px;}
.p47{text-align: right;padding-right: 5px;margin-top: 22px;margin-bottom: 0px;}
.p48{text-align: justify;padding-right: 61px;margin-top: 9px;margin-bottom: 0px;}
.p49{text-align: left;margin-top: 36px;margin-bottom: 0px;}
.p50{text-align: justify;padding-left: 32px;padding-right: 59px;margin-top: 8px;margin-bottom: 0px;text-indent: -32px;}
.p51{text-align: left;padding-left: 32px;padding-right: 51px;margin-top: 33px;margin-bottom: 0px;text-indent: -32px;}
.p52{text-align: left;padding-left: 32px;padding-right: 76px;margin-top: 33px;margin-bottom: 0px;text-indent: -32px;}
.p53{text-align: justify;margin-top: 36px;margin-bottom: 0px;}
.p54{text-align: justify;padding-left: 32px;padding-right: 56px;margin-top: 7px;margin-bottom: 0px;}
.p55{text-align: justify;padding-left: 32px;padding-right: 86px;margin-top: 35px;margin-bottom: 0px;text-indent: -32px;}
.p56{text-align: left;padding-left: 32px;padding-right: 67px;margin-top: 3px;margin-bottom: 0px;}
.p57{text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p58{text-align: left;padding-right: 55px;margin-top: 30px;margin-bottom: 0px;}
.p59{text-align: justify;padding-right: 50px;margin-top: 28px;margin-bottom: 0px;}
.p60{text-align: left;padding-right: 48px;margin-top: 26px;margin-bottom: 0px;}
.p61{text-align: left;padding-right: 53px;margin-top: 31px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 301px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 178px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 195px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 451px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 266px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 271px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 345px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 94px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 336px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 92px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 221px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 107px;vertical-align: bottom;}
.td15{border-bottom: #3b3b3b 1px solid;padding: 0px;margin: 0px;width: 111px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 3px;vertical-align: bottom;}
.td17{border-bottom: #3b3b3b 1px solid;padding: 0px;margin: 0px;width: 114px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 46px;vertical-align: bottom;}
.td19{border-bottom: #3b3b3b 1px solid;padding: 0px;margin: 0px;width: 290px;vertical-align: bottom;}
.td20{border-bottom: #3b3b3b 1px solid;padding: 0px;margin: 0px;width: 287px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 144px;vertical-align: bottom;}
.td22{padding: 0px;margin: 0px;width: 131px;vertical-align: bottom;}
.td23{padding: 0px;margin: 0px;width: 288px;vertical-align: bottom;}
.td24{padding: 0px;margin: 0px;width: 50px;vertical-align: bottom;}
.td25{padding: 0px;margin: 0px;width: 447px;vertical-align: bottom;}
.td26{padding: 0px;margin: 0px;width: 270px;vertical-align: bottom;}

.tr0{height: 23px;}
.tr1{height: 16px;}
.tr2{height: 20px;}
.tr3{height: 24px;}
.tr4{height: 28px;}
.tr5{height: 25px;}
.tr6{height: 48px;}
.tr7{height: 47px;}
.tr8{height: 27px;}

.t0{width: 674px;margin-left: 94px;margin-top: 11px;font: 12px 'Futura-Book';color: #3b3b3b;}
.t1{width: 717px;margin-left: 1px;font: 16px 'Futura-Book';color: #3b3b3b;}
.t2{width: 344px;margin-left: 198px;margin-top: 43px;font: 18px 'Georgia';color: #3b3b3b;}
.t3{width: 674px;margin-left: 46px;margin-top: 47px;font: 12px 'Futura-Book';color: #3b3b3b;}
.t4{width: 717px;margin-left: 2px;font: 16px 'Futura-Book';color: #3b3b3b;}
.t5{width: 593px;margin-left: 1px;margin-top: 25px;font: 15px 'Georgia';color: #3b3b3b;}
.t5b{margin-left: 1px;font: 15px 'Georgia';color: #3b3b3b}
.t6{width: 674px;margin-left: 47px;margin-top: 58px;font: 12px 'Futura-Book';color: #3b3b3b;}
.t7{width: 720px;font: 15px 'Georgia';color: #3b3b3b;}
.t8{width: 674px;font: 12px 'Futura-Book';color: #3b3b3b;}
.t9{width: 707px;margin-left: 5px;margin-top: 23px;font: 15px 'Georgia';color: #3b3b3b;}
.t10{width: 674px;margin-left: 46px;margin-top: 50px;font: 12px 'Futura-Book';color: #3b3b3b;}
.t11{width: 717px;font: 16px 'Futura-Book';color: #3b3b3b;}
.t12{width: 338px;font: bold 15px 'Georgia';color: #3b3b3b;}

#formColor{font: 15px 'Georgia';color:#3b3b3b;background-color:#87f48b;}
#formColor2{font: 15px 'Georgia';color:#3b3b3b;background-color:#87f48b; width: 240px;}
#formColor3{font: 15px 'Georgia';color:#3b3b3b;background-color:#87f48b; margin-left: 25px;}
#formColor4{font: 15px 'Georgia';color:#3b3b3b;background-color:#87f48b; margin-left: 285px;}
#fixedPos1{position:fixed;width:120px;height:25px;margin-left:275px;margin-top:10px;
           white-space:pre-wrap;background-color:#cecece;}
#fixedPos2{position:fixed;width:120px;height:25px;margin-left:440px;margin-top:10px;
           white-space:pre-wrap;background-color:#cecece;}
#bottomBar{background-color: white;margin-top:590px;margin-left: -10px;width: 110%;
        height: 200px;position:fixed;z-index: 10;}

#cell1{width: 400px;line-height: 180%;}
#cell2{width: 125px;line-height: 180%;}
#cell3{width: 40px;line-height: 170%;}
#cell4{width: 350px;}
#cell5{width: 120px;line-height: 170%;}