body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 48px 0px 35px 47px;padding: 0px;border: none;width: 769px;height: 973px;}
#page_1 #id_1 {border:none;margin: 11px 0px 0px 1px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 86px 0px 0px 47px;padding: 0px;border:none;width: 674px;overflow: hidden;}
#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:720px;height:973px;}
#page_1 #dimg1 #img1 {width:720px;height:973px;}

.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 21px 'Futura-Book';color: #298428;line-height: 24px;}
.ft1{font: 19px 'Georgia';color: #3b3b3b;line-height: 23px;}

.p0{text-align: left;padding-left: 65px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 61px;margin-top: 3px;margin-bottom: 0px;}

#formColor{font:15px 'Georgia';color:black;background-color:#87f48b;}
#fixedPos1{position:fixed;width:120px;height:25px;margin-left:275px;margin-top:10px;
           white-space:pre-wrap;background-color:#cecece;}
#fixedPos2{position:fixed;width:120px;height:25px;margin-left:440px;margin-top:10px;
           white-space:pre-wrap;background-color:#cecece;}
#bottomBar{background-color: white;margin-top:490px;margin-left: -10px;width: 110%;
        height: 200px;position:fixed;z-index: 10;}

#tableFormat1{width: 719px;margin-top: 28px;font: 15px 'Georgia';color: black;}
#tableFormat2{width: 719px;font: 15px 'Georgia';color: black;}
#leftRightTop{border-left: 1px solid black;border-top: 1px solid black;
              border-right: 1px solid black;height: 30px;padding-left: 4px;}
#rightTop{border-right: 1px solid black;border-top: 1px solid black;height: 30px;text-align: center;}
#leftTopBottom{border-left: 1px solid black;border-top: 1px solid black;
               border-bottom: 1px solid black;height: 30px;padding-left: 4px;}
#all{border: 1px solid black;height: 30px;text-align: center;}
#leftRightBottom{border-left: 1px solid black;border-bottom: 1px solid black;
                 border-right: 1px solid black; height: 30px;padding-left: 4px;}
#rightBottom{border-right: 1px solid black;border-bottom: 1px solid black; height: 30px;text-align: center;}
#bottom{border-bottom: 1px solid black;}
#middle{border: 1px solid white;}
#allBig{border: 1px solid black;height: 60px;width: 100%;padding-left: 4px;}